[Proposal] Referencing implemented IETF standards into the project topics

Hi, 
I am proprosing the following: 
coap-rs should recense every implemented IETF standards (i.e. draft, proposed standard rfc and possibly informational standard rfc that updates RFC 7252 Standard) onto the project about section in the topics like on [plgd-dev/go-coap](/plgd-dev/go-coap)

![image](https://user-images.githubusercontent.com/7686916/95845479-8250b380-0d4a-11eb-9650-f0f05544a44b.png)

- [X] [RFC 7252](https://datatracker.ietf.org/doc/rfc7252/) CoAP [also describes UDP, DTLS and multicast support]
- [X] [RFC 8516](https://datatracker.ietf.org/doc/rfc8516/) Too Many Requests Response Code
- [X] [RFC 7641](https://datatracker.ietf.org/doc/rfc7641/) Observing Resources in the CoAP
- [ ] [RFC 6347](rfc6347/) Datagram Transport Layer Security (DTLS) Version 1.2 __*__
- [x] [RFC 7959](https://datatracker.ietf.org/doc/rfc7959/) Block-Wise Transfers in the CoAP
- [ ] [RFC 8323](https://datatracker.ietf.org/doc/rfc8323/) CoAP over TCP, TLS, and WebSockets
- [ ] [RFC 8613](https://datatracker.ietf.org/doc/rfc8613/) Object Security for Constrained RESTful Environments (OSCORE)

If you have any other standards to suggest, please let a comment. 

__*__ DTLS 1.2 is very important to the core standard of CoAP. Please if you are looking for a bounty, I suggest to look for this one. You can even create your own crate on doc.rs and we will help you implementing this.